@import "tailwindcss";

@theme {
    --color-primary: #347b60;
    --color-foreground: #000;
    --color-success: #90ccac;      
    --color-warning: #f7b64d;      
    --color-error: #ba473b;
}

@layer components {
    .border-card {
        @apply border-2 border-foreground/20 rounded-lg
    }

    .input-field {
        @apply w-full border-2 rounded-lg border-primary/30 p-2 mt-1;
    }

    .input-label {
        @apply text-foreground/80 font-bold
    }

    .input-error {
        @apply absolute text-xs text-red-500
    }
}

@layer utilities {
    .text-heading {
        @apply text-2xl font-bold text-foreground;
    }

    .text-subheading {
        @apply text-base font-medium text-foreground/80;
    }

    .text-heading-sm {
        @apply text-xl font-bold text-foreground;
    }
}
